.card {
  position: relative;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 80px 30px 30px 30px;
  border: 2px solid #c54c07;
}

.card figure {
  background-color: black;
  position: absolute;
  top: -100px;
  display: flex;
  align-self: center;
  border: 3px solid #c54c07;
  border-radius: 50%;
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.card a {
  margin-bottom: 15px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0 40px 0;
  text-align: center;
}
.cardContent h3 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.cardContent p {
  font-size: 1rem;
}
