.main {
  max-width: 1200px;
  padding: 15px;
  margin: 50px auto;
}

.content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.content h1 {
  text-align: center;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 150px;
  padding: 15px;
  justify-items: center;
  justify-content: center;
  margin-top: 100px;
}

.cardContainer h2 {
  grid-column: 1/-1;
}

@media (max-width: 650px) {
  .content p {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  .cardContainer {
    margin-top: 50px;
  }
}
