@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: #000;
}

html {
  scroll-behavior: smooth;
}

.btn {
  min-width: 200px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: #000;
  border: 2px solid #fff;
  padding: 0.5rem 0.8rem;
  z-index: 9;
  transition: 0.3s;
}
.btn:last-child {
  margin-left: 1rem;
}

.btn:hover {
  color: #4bd0fa;
  border: 2px solid #4bd0fa;
}
