.navbar {
  position: relative;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.navbar .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.3s;
}
.headerBg {
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.list {
  position: absolute;
  background-color: #c54c07;
  display: flex;
  width: 300px;
  height: calc(100vh - 65px);
  top: 65px;
  right: 0;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding-top: 30px;
  transition: 0.3s;
}

.listDisable > li > a {
  display: none;
}

.list li a {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem 0.8rem;
  transition: 0.3s;
}

.navbar.logo:hover,
.list li a:hover {
  color: #4bd0fa;
}
